$waveSpeed: 10;
$boatWidth: 250px;
$boatY: 30px;

$waveFront: #0cabaa;
$waveBack: #108291;
$sky1: #a5e1dd;
$sky2: #d3ede2;
$hull: #473322;
$mast: #674333;
$sail: #f2edea;
$flag: #ff90aa;

.boat-anime {
	display:none;
	position: fixed;
	bottom: 55px;
	left: 50%;
	margin-left: -$boatWidth/2;
	animation: boat 3.5s cubic-bezier(.35,.07,.35,.94) alternate infinite;
	animation-delay: 0s;
	transition: all 1s ease;
	z-index: -2;
}

@media only screen and (min-width: 600px){
	.boat-anime{
		// visibility: visible;
		display: inline
	}
}


.boat {
	width:250px;
	height:auto;
}

@keyframes boat {
	0% {
		bottom: $boatY;
  }
	100% {
		bottom: $boatY+120;

  }
}
