$waveSpeed: 10;
$boatWidth: 250px;

$waveFront: #0cabaa;
$waveBack: #108291;
$sky1: #a5e1dd;
$sky2: #d3ede2;
$hull: #473322;
$mast: #674333;
$sail: #f2edea;
$flag: #ff90aa;

.boat-anime {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -$boatWidth/2;
	// animation: boat 3.5s ease-in-out alternate infinite;
	animation: boat 3.5s cubic-bezier(.35,.07,.35,.94) alternate infinite;
	animation-delay: 0s;
}

.boat {
	width:250px;
	height:auto;
}

@keyframes boat {
	0% {
		bottom: 80px;
  }
	100% {
		bottom: 200px;
		// bottom: calc(10% + 500px);

  }
}
