body {
    margin: 0;
    /* background-image:radial-gradient(rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%); */
    background-image:linear-gradient(#a7e0dd, #c2e7dd);
    background-attachment: fixed;
}

@media only screen and (max-width: 420px) {
    .footer {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }

    .navbar-logo {
        display: none !important;
    }

    .splash-logo {
        max-height: 20em !important;
        max-width: 20em !important;
    }

    .page-header {
        order: -1;
        height: 3em;
        flex: 0 1 auto !important;
    }

    .navbar {
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 1em;
    }

    .navbar-link {
        margin-right: 0.1em;
    }

    .navbar-register {
        background-color: gray;
        border-radius: 5px;
        color: white !important;
        padding: 0.7em;
        font-size: 1.1em;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .navbar-long-link {
        max-width: 3em;
        word-wrap: normal;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 420px) {
    .navbar {
        top: 0;
        left: 0;
        right: 0;
    }

    .navbar-register {
        font-size: 1.5em;
        padding: 0.5em;
        color: white !important;
        border-radius: 5px;
        background-color: gray;
    }
}

@media only screen and (min-width: 800px) {
    .navbar-link {
        font-size: 1.5em;
    }
}

.navbar {
    position: fixed;
    justify-content: center;
    display: flex;
}

.navbar-container::before {
    content: '';
    display: block;
    position: absolute;
    height: 0.07em;
    background-color: black;
    opacity: 0.3;
    width: 60%;
    z-index: -1;
    transform: translateY(1em);
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.navbar-link:hover {
    color: #3b444b;
}

.mobile-only {
    display: none;
}

.fullscreen {
    width: 99vw;
    height: 99vh;
}

.page-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-container {
    text-align: center;
}

.sub-container {
    min-width: 350px;
}

* {
    font-family: 'Roboto', sans-serif;
}

button.register {
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    background-color: #727d71;
    border: 0;
    color: white;
    box-shadow: 0px 5px 0px 0px #495048;
    font-size: 1.5em;
    cursor: pointer;
}

button.register:hover {
    background-color: #a6b4a5;
    box-shadow: 0px 5px 0px 0px #717c70;
}

button.register:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #717c70;
}

.container {
    min-width: 300px;
}

.navbar-link {
    text-decoration: none;
    font-weight: bold;
}

.timetable {
    list-style: none;
}

.timetable>li {
    margin-top: -1em;
    margin-left: 1em;
}

.timetable>li::before {
    content: '';
    border-radius: 50%;
    display: inline-block;
    clear: both;
    background-color: #c2885a;
    width: 3em;
    height: 3em;
    transform: translateY(25%);
}

.timetable>li:first-child::after {
    content: '';
    background-color: #c2885a;
    display: block;
    transform: translateX(1.3em) translateY(0);
    width: 0.25em;
    height: 4em;
}

.timetable>li:last-child:after {
    content: '';
    background-color: #c2885a;
    display: block;
    transform: translateY(-200%) translateX(1.3em);
    
    width: 0.25em;
    height: 4em;
}

.timetable>li:after {
    content: '';
    background-color: #c2885a;
    display: block;
    transform: translateX(1.3em);
    width: 0.25em;
    height: 4em;
}

.footer {
    color: white;
}

.header-text{
    color: #473221;
}

.content-text{
    color: #c2885a;
    font-family: 'Mitr', sans-serif;
    font-size: 2em;
    /* background-image: url('http://touringtheatre.com/images/scroll2.png');
    background-position: center */
}
.content-text li{
    font-family: 'Mitr', sans-serif;
}

@media only screen and (max-width: 768px) {
    .content-text{
        font-size: 1em;
    }
}